@model Classroom.Models.UserProfile.ProfileModel;


<form class="decor" method="post" action="~/UserProfile/update" enctype="multipart/form-data">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner centerText">
        <h3 style="text-align: center;">Мій профіль</h3>
        <br />
        <label>Ім'я</label>
        <input type="text" name="name" placeholder="Ім'я" value="@Model.user.Name" />

        <label>Опис</label>
        <input type="text" name="description" placeholder="Опис" value="@Model.user.Description" />

        <label>Пошта</label>
        <input type="text" name="email" placeholder="Пошта" value="@Model.user.Email" />

        <label>Пароль</label>
        <input type="password" name="password" placeholder="Пароль" value="@Model.user.Password" />

        <label>Картинка</label>
        <input type="file" name="img" value="@Model.user.Password" />
        <img width="150px" height="150px" src="~/profilePhoto/@{ @Model.user.Id}.jpg" />

        <input type="submit" value="Змінити">

    </div>
</form>
