@model Classroom.Models.Index.GroupModel;

@{
    Layout = "_Layout";
}


@if ((bool)ViewData["joined"] != false)
{
    @if ((bool)ViewData["owned"])
    {
        <div class="whiteSpace" style="padding-left: 20px;">
            <h4 class="centerText">Члени групи</h4>

            <h4 class="centerText">Власник: @Model.owner.Name</h4>

            <div class="flex spaceBetween menuBlock">
                <div class="flex leftMenuBlock"></div>
                <div class="rightMenuBlock button3 margin-right30px">
                    <a class="linksStyle" href="~/Index/TasksInGroup/@ViewData["currentId"]">Завдання</a>
                </div>
            </div>



            @for (int i = 0; i < Model.members.Count; i++)
            {
                <div class="flex spaceCenter menuBlock">
                    <form method="post" action="~/Index/DeletePeopleInGroup">
                        <input type="hidden" name="userId" value="@Model.members[i].Id" />
                        <input type="hidden" name="groupId" value="@ViewData["currentId"]" />
                        <input class="deleteButton material-icons" style="border: 0px; background: white;" type="submit" value="delete" />
                    </form>
                    <img src="~/profilePhoto/@{@Model.members[i].Id}.jpg" class="avatar"/><span>@Model.members[i].Name</span>
                </div>

            }
        </div>
    }
    else
    {

<div class="whiteSpace"  style="padding-left: 20px;">
    <h4 class="centerText">Члени групи</h4>
    <div class="flex spaceBetween menuBlock">
        <div class="flex leftMenuBlock"></div>
        <div class="rightMenuBlock button3 margin-right30px">
            <a class="linksStyle" href="~/Index/TasksInGroup/@ViewData["currentId"]">Завдання</a>

        </div>
    </div>
    <h4>Власник: @Model.owner.Name</h4>

    @for (int i = 0; i < Model.members.Count; i++)
    {
        <div class="flex spaceCenter menuBlock">
            <img src="~/profilePhoto/@{@Model.members[i].Id}.jpg" class="avatar"/><span>@Model.members[i].Name</span>
        </div>
    }

</div>

    }
}
else
{
    <p>Must Join <a href="~/RegAut/Autoresation">link</a></p>
}
