@model Classroom.Models.Index.GroupModel;

@{
    Layout = "_Layout";
}


@if ((bool)ViewData["joined"] != false)
{
    @if ((bool)ViewData["owned"])
    {
        <h4><a href="~/Index/TasksInGroup/@ViewData["currentId"]">Tasks</a></h4>
        <h4>Owner: @Model.owner.Name</h4>
        <ul>
            @for (int i = 0; i < Model.members.Count; i++)
            {
                <li>
                    @Model.members[i].Name
                    <form method="post" action="~/Index/DeletePeopleInGroup">
                        <input type="hidden" name="userId" value="@Model.members[i].Id" />
                        <input type="hidden" name="groupId" value="@ViewData["currentId"]" />
                        <input type="submit" value="delete" />
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <h4><a href="~/Index/TasksInGroup/@ViewData["currentId"]">Tasks</a></h4>
        <h4>Owner: @Model.owner.Name</h4>
        <ul>
            @for (int i = 0; i < Model.members.Count; i++)
            {
                <li>
                    @Model.members[i].Name
                </li>
            }
        </ul>
    }

}
else
{
    <p>Must Join <a href="~/RegAut/Autoresation">link</a></p>
}



