@model Classroom.Models.Index.GroupModel;

@{
    Layout = "_Layout";
}
@if ((bool)ViewData["joined"] != false)
{
    @if (!(bool)ViewData["owned"])
    {
        <div class="whiteSpace">
            <h4 class="centerText"><a href="~/Index/PeopleInGroup/@ViewData["currentId"]">Завдання</a></h4>
            @for (int i = 0; i < Model.listTasks.Count; i++)
            {
                <div class="flex spaceBetween menuBlock">
                    <div class=" flex leftMenuBlock">
                        <div class="margin-right13px margin-left30px">
                            <span>@Model.listTasks[i].Id </span>
                            <span>@Model.listTasks[i].Name</span>
                            <span>@Model.listTasks[i].Description</span>
                        </div>
                    </div>
                    <div class="rightMenuBlock button margin-right30px">
                        <a class="linksStyle" href="~/Index/Task/@Model.listTasks[i].Id">link</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="whiteSpace">
            <h4 class="centerText"><a href="~/Index/PeopleInGroup/@ViewData["currentId"]">Завдання</a></h4>

            @for (int i = 0; i < Model.listTasks.Count; i++)
            {
                <div class="flex spaceBetween menuBlock">
                    <div class=" flex leftMenuBlock">
                        <div class="margin-left30px">
                            <a class="deleteButton" href="~/Index/DeleteTask/@Model.listTasks[i].Id">
                                <span class="material-icons">delete</span>
                            </a>
                        </div>
                        <div class="margin-right13px margin-left30px">
                            <span>@Model.listTasks[i].Id </span>
                            <span>@Model.listTasks[i].Name</span>
                            <span>@Model.listTasks[i].Description</span>
                        </div>
                    </div>
                    <div class="rightMenuBlock button margin-right30px">
                        <a class="linksStyle" href="~/Index/Task/@Model.listTasks[i].Id">link</a>
                    </div>
                </div>
            }
            <div class="downButton">
                <a href="~/Index/CreateTask/@ViewData["currentId"]">Створити новий</a>
            </div>
        </div>
    }
}
else
{
    <p>Must Join <a href="~/RegAut/Autoresation">link</a></p>
}
