@model Classroom.Models.Index.TaskModel;
@{
    Layout = "_Layout";
}


@if ((bool)ViewData["joined"] != false)
{
    @if ((bool)ViewData["owned"])
    {
        @Model.task.Id
        <br />
        <p>
            Name:
            @Model.task.Name
        </p>
        <p>
            Type:
            @Model.task.Type
        </p>

        <p>
            Description:
            @Model.task.Description
        </p>
        <a href="~/Index/DownloadTaskFile/@Model.task.Id">@Model.task.FileName</a>

        <a href="~/Index/Reaply/@Model.task.Id">Write reaplyes</a>

        <h4>My reaplyes</h4>
        <ul>
            @foreach (Classroom.Reaply r in Model.reaplies)
            {
                <li>@r.Id: <span>UserName: "@Model.context.Users.Where(n=>n.Id==r.IdUser).First().Name"</span> @r.Description <a href="~/Index/DownloadFile/@r.Id">@r.FileName</a> <a href="~/Index/ReaplyDelete/@r.Id">(delete)</a> <h5>@r.Mark</h5> 
                                                                                                                                                 <form method="post" action="~/Index/SetMark">
                                                                                                                                                     <input type="hidden" name="idReaply" value="@r.Id" />
                                                                                                                                                     <input type="number" name="mark" value="@r.Mark" />
                                                                                                                                                     <input type="submit" value="set mark" />
                                                                                                                                                 </form></li>
            }
        </ul>
    }
    else
    {
        @Model.task.Id
        <br />
        <p>
            Name:
            @Model.task.Name
        </p>
        <p>
            Type:
            @Model.task.Type
        </p>

        <p>
            Description:
            @Model.task.Description
        </p>
        <a href="~/Index/DownloadTaskFile/@Model.task.Id">@Model.task.FileName</a>

        <a href="~/Index/Reaply/@Model.task.Id">Write reaplyes</a>

        <h4>My reaplyes</h4>
        <ul>
            @foreach (Classroom.Reaply r in Model.reaplies)
            {
                <li>@r.Id: @r.Description <a href="~/Index/DownloadFile/@r.Id">@r.FileName</a> <a href="~/Index/ReaplyDelete/@r.Id">(delete)</a> <h5>@r.Mark</h5></li>
            }
        </ul>
    }

}
else
{
    <p>Must Join <a href="~/RegAut/Autoresation">link</a></p>
}