@model Classroom.Models.Index.TaskModel;
@{
    Layout = "_Layout";
}
@Model.task.Id
<br />
<p>
    Name:
    @Model.task.Name
</p>
<p>
    Type:
    @Model.task.Type
</p>

<p>
    Description:
    @Model.task.Description
</p>

<a href="~/Index/Reaply/@Model.task.Id">Write reaplyes</a>

<h4>My reaplyes</h4>
<ul>
    @foreach (Classroom.Reaply r in Model.reaplies)
    {
        <li>@r.Id: @r.Description <a href="~/Index/ReaplyDelete/@r.Id">(delete)</a></li>
    }
</ul>